<header class="header-compacto border-bottom sticky-top bg-white" [class.header-hidden]="isHeaderHidden">
  <nav class="navbar navbar-expand-lg navbar-light w-100">
    <div class="container">
      <a class="navbar-brand p-0" routerLink="/home">
        <img src="img/ANAA.png" alt="ANAA" class="logo-img">
      </a>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/quienes-somos">¿Quiénes somos?</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/como-adoptar">¿Cómo adoptar?</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contacto">Contacto</a></li>
        </ul>
      </div>

      <div class="d-flex align-items-center acciones-header gap-2">
        <a routerLink="/iniciar-sesion" class="btn btn-outline-success py-1 px-2 py-lg-2 px-lg-4 fs-7 fs-lg-6">Entrar</a>
        <a routerLink="/hacerse-socio" class="btn btn-cta py-1 px-2 py-lg-2 px-lg-4 fs-7 fs-lg-6">Hacerse socio</a>
      </div>
    </div>
  </nav>
</header>
